vrrp_script check_haproxy {
	script "pidof haproxy"
	interval 2
}

vrrp_instance VI_01 {
  state BACKUP
  interface {{ keepalived.interface }}
  virtual_router_id 100
  priority 100
  advert_int 1

  authentication {
    auth_type {{ keepalived.authtype | default('PASS') }}
    auth_pass {{ keepalived.password | default('4be37dc3') }}
  }

  unicast_peer {
{% for host in groups['masters'] %}
    {{ host }}
{% if not loop.last -%}{%- endif -%}
{% endfor %}
  }

  virtual_ipaddress {
    {{ keepalived.shared_ip }} {{ keepalived.interface }} label {{ keepalived.interface }}:vip
  }

  track_script {
    check_haproxy
  }
}
