apiVersion: v1
clusters:
- name: cluster-sslskip
  cluster:
    server: {{ kube_api.url }}
    insecure-skip-tls-verify: true
- name: cluster-ssl
  cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ kube_api.url }}
contexts:
- context:
    cluster: cluster-ssl
    user: admin_ssl
  name: admin@cluster-ssl
current-context: admin@cluster-ssl
kind: Config
users:
- name: admin_ssl
  user:
    client-certificate: {{ admin_cert }}
    client-key: {{ admin_key }}
