apiVersion: v1
clusters:
- name: cluster-sslskip
  cluster:
    server: {{ api_lb_ip }}
    insecure-skip-tls-verify: true
- name: cluster-ssl
  cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ api_lb_ip }}
contexts:
- context:
    cluster: cluster-ssl
    user: admin_ssl
  name: admin@cluster-ssl
- context:
    cluster: cluster-sslskip
    user: admin_ssl
  name: admin@cluster-sslskip
current-context: admin@cluster-ssl
kind: Config
users:
- name: admin_ssl
  user:
    client-certificate: {{ scheduler_cert }}
    client-key: {{ scheduler_key }}
